<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6527.0" authCookieName=".SFAUTH-SfRequestSpy" rolesCookieName=".SFROLES-SfRequestSpy" validationKey="F9B03C59F193AA8B5CCB71EEAF2022951314DB8853EF851A3998E25925AC1335B3E4CC2B371E2822556381B099A652B04247F55BE16623E593FFF25322645EE8" decryptionKey="069DF6475AB26E07475C25FEF3D2B33DF117375A9AA85FB476D8AFF1E1E85783" loggingCookieName=".SFLOG-SfRequestSpy">
	<securityTokenIssuers>
		<add key="63128BF8040AD93D154D8180D055F4010B7C1BCD736DDE755E0D13B0EDAD4270" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="63128BF8040AD93D154D8180D055F4010B7C1BCD736DDE755E0D13B0EDAD4270" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="dd9343c1-fdb6-4292-a7a9-892af43e3721" name="Everyone" config:flags="1" />
		<role id="5e86977e-3825-44a6-bcab-486fe1faf57a" name="Anonymous" config:flags="1" />
		<role id="4c998bff-d6d5-4a28-ab3f-98cddf8959c4" name="Authenticated" config:flags="1" />
		<role id="4a112045-b8b5-4e6d-a007-e9f48516df87" name="Owner" config:flags="1" />
		<role id="84de2f6b-c3e3-4d45-b857-102a1a73c72a" name="Administrators" config:flags="1" />
		<role id="4ab38009-1099-4223-8e22-4e218c6424e1" name="BackendUsers" config:flags="1" />
		<role id="5b4b4075-2dc6-4ba5-959e-fa0e7631e018" name="Authors" config:flags="1" />
		<role id="475d88b0-1f28-47ee-9dcd-12d4795ae5e8" name="Editors" config:flags="1" />
		<role id="3c736b00-17c8-4951-970a-48420fb82bf0" name="Designers" config:flags="1" />
		<role id="9d8ba97f-57f8-4d93-81ec-ab19a1569d63" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>